body{
	margin-top: 10px;
	width: 800px;
	margin-left: auto; 
	margin-right: auto; 
	border:1px solid #00BFFF; 
	border-radius:3px; 
	padding: 5px;
	font-family: Helvetica;
}

#header{
	border-bottom: 1px solid #00BFFF;
}

#banner a{
	text-decoration: none;
}

#banner h1{
	margin-bottom: 0px;
	margin-top: 0px;	
}

#banner img{
	float: left;
	margin-right: 130px;
	height: 55px;
}

#menu{
	margin-left: auto;
	margin-right: auto;
}

.menu-item{
	float: left;
	border:1px solid #8B0000;
	margin-right: 10px; 
	border-radius: 3px;
	padding: 5px;	
}

p.menu-item:hover{
	background: #00BFFF;
	color: white;
}

#container{
	text-align: left;
	width: 670px;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
}

#content{
	text-align: left;
}

#classroom{
    text-align: left;    
}

.class{
			border: 1px solid #00BFFF;
			border-radius: 3px;
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 5px;
}

#classroom img{
    float: left;
}

#welcome_header{
	margin-top: 35px;
}

li{
    text-align: left;
}

#motd{
    border: 1px solid #00BFFF;
    padding: 0px 5px;
}

#welcome{
	text-align: center;
}

#login-form{
	border:1px solid #00BFFF; 
	border-radius: 3px;
	width: 300px; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 35px;
	text-align: center;
}

#login{
	margin-left: auto; 
	margin-right: auto;
}

#connect-slider{
	float: right;
	width: 110px;
	border-left: 1px solid #00BFFF;
	padding: 5px;
	padding-bottom: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

.slider-profile{
	width: 100px;
	border: 2px solid white;
	border-radius: 3px;
	margin-bottom: 5px;
}

.slider-profile p{
	margin: 0px;
	font-size: 10px;
	text-align: center;
}

.slider_pic{
	height: 100px;
}

div.slider-profile:hover{
	border: 2px solid #00BFFF;
	cursor: pointer;
}

.profile_pic_mini{
	height: 30px;
}